html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

img {
  width: 100%;
}

.banner {
  padding: calc(2em + 20vw) 0 0;
  background: url("../images/layout.jpg") center center / cover no-repeat;
}

h1 {
  color: white;
  text-align: center;
}

nav li {
  display: block;
  float: left;
  width: 33.333333%;
  list-style-type: none;
}

nav a {
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  background-color: brown;
  text-decoration: none;
}

nav ol {
  overflow: hidden;
  padding: 0;
  width: 100%;
}


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

em {
  font-weight: bold;
}

dd {
  margin: 0;
}

footer {
  clear: both;
}
