html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
}

img {
  width: 100%;
}

nav li {
  display: block;
  float: left;
  width: 33.333333%;
  list-style-type: none;
}

nav a {
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  background-color: brown;
  text-decoration: none;
}

nav ol {
  overflow: hidden;
  padding: 0;
  width: 100%;
}

h1 {

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  float: left;
  display: block;
}

.test {
  float: right;
  display: block;
}

.info {
  clear: both;
  overflow: hidden;
}

dd {
  margin: 0;
}


footer {
  clear: both;
}
