html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0
  min-height: 100vh;
  padding-bottom: 44px;
}

img {
  width: 100%;
}

.banner {
  padding: calc(7em + 20vw) 0 0;
  background: url("../images/layout.jpg") center center / cover no-repeat;
  white-space: nowrap;
}

.first {
  background-color: #894C22;
  padding: 1em;
}

h1 {
  color: white;
  text-align: center;
}

header {
  background-color: #754C29;
}

nav li {
  display: block;
  float: left;
  width: 33.333333%;
  list-style-type: none;
}

nav a {
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  background-color: #B78A4B;
  text-decoration: none;
}

nav ol {
  overflow: hidden;
  padding: 0;
  width: 100%;
}

h2 {
  text-align: center;
  padding: 1em;
}
.info {
  padding: 0;
  overflow: hidden;
}
h3 {
  text-align: center;
}

.all {
  background-color: #B78A4B;
}

.bread {
  background-color: #B78A4B;
  padding: 1em;
}

.cookies {
  background-color: #BC7D31;
  padding: 1em;
}

.pastries {
  background-color: #CE802C;
  padding: 1em;
}

.sandwhich {
  background-color: #95653F;
  padding: 1em;
}

.test {
  background-color: #894C22;
  padding: 1em;
}

.info {
  background-color: #CE802C;
  padding: 1em;
}

em {
  font-weight: bold;
}

dd {
  margin: 0;
}

footer {
  clear: both;
  background-color: #754C29;
  padding: 1em;
  text-align: center;
}
